<ng-container *ngIf="config">
    <section [ngSwitch]="config.shape">

        <ko-stage *ngSwitchCase="'circle'" [config]="configStage">
            <ko-layer>
                <ko-circle [config]="configCircle"></ko-circle>
                <ko-text [config]="configText"></ko-text>
            </ko-layer>
        </ko-stage>
        
        <ko-stage *ngSwitchCase="'triangle'" [config]="configStage">
            <ko-layer>
                <ko-regular-polygon [config]="configTriangle"></ko-regular-polygon>
                <ko-text [config]="configText"></ko-text>
            </ko-layer>
        </ko-stage>
    
        <ko-stage *ngSwitchCase="'square'" [config]="configStage">
            <ko-layer>
                <ko-regular-polygon [config]="configSquare"></ko-regular-polygon>
                <ko-text [config]="configText"></ko-text>
            </ko-layer>
        </ko-stage>
    
    </section>
</ng-container>

