<div class="modal" [ngClass]="{'is-active': deleteConfirmService.getDisplayBus() | async}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Attention!</p>
      <button class="delete" aria-label="close" (click)="cancel()"></button>
    </header>
    <section class="modal-card-body">
      <p>Do you really want to delete?</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="ok()">Ok</button>
      <button class="button" (click)="cancel()">Cancel</button>
    </footer>
  </div>
</div>