<div class="app-content">
    <app-toolbar></app-toolbar>
    <app-hero></app-hero>
    <app-progress></app-progress>

    <section class="section">
        <div class="container">
            <ng-content></ng-content>
        </div>
    </section>
</div>


<app-footer class="app-footer"></app-footer>
