:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-content {
    flex: 1 0 auto;
}

.app-content .section {
    padding: 1rem .5rem;
}

.app-footer {
    flex-shrink: 0;
}
