

<ng-container *ngIf="isEdit">
    <app-edit-panel *ngIf="config" [config]="config" (configChanged)="updateLogo($event)"></app-edit-panel>
</ng-container>

<ng-container *ngIf="!isEdit">
    <nav class="level is-mobile logo-title">
        <div class="level-item has-text-centered">
          <div>
            <p class="title" *ngIf="config" [ngStyle]="{'color': config.textColor}">{{config.name}}</p>
          </div>
        </div>
      </nav>
</ng-container>


<div class="rel">
    <app-logo *ngIf="config" [config]="config" class="logo"></app-logo>

    <a class="button is-success save-button" *ngIf="isEdit" (click)="save()">
        <span class="icon" title="Save">
            <i class="material-icons">
                done_all
            </i>
        </span>
    </a>

    <a class="button is-danger delete-button" *ngIf="isEdit && activeUrl !== 'create'" (click)="delete()">
        <span class="icon is-small" title="Delete">
            <i class="material-icons">
                delete
            </i>
        </span>
    </a>

    <a class="button is-warning cancel-button" *ngIf="isEdit" (click)="cancel()">
        <span class="icon is-small" title="Cancel">
            <i class="material-icons">
                arrow_back_ios
            </i>
        </span>
    </a>

    <a class="button is-success cancel-button" *ngIf="!isEdit" (click)="backToHome()">
        <span class="icon is-small" title="Back">
            <i class="material-icons">
                arrow_back_ios
            </i>
        </span>
    </a>

    <a class="button is-warning save-button" *ngIf="!isEdit" (click)="edit()">
        <span class="icon is-small" title="Edit">
            <i class="material-icons">
                edit
            </i>
        </span>
    </a>
</div>