.logo {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.rel {
    position: relative;
}

.save-button {
    position: absolute;
    right: 17vh;
    top: 5px;
}

.delete-button {
    position: absolute;
    right: 17vh;
    top: 3rem;
}

.logo-title {
    padding: 1rem;
}

.cancel-button {
    position: absolute;
    left: 17vh;
    top: 5px;
}

@media screen and (max-width: 768px) {
    .save-button, .delete-button {
        right: 2vh;
    }

    .cancel-button {
        left: 2vh;
    }
}