<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Welcome to Logo app
            </h1>
            <h2 class="subtitle">
                here you can create a great logo
            </h2>
        </div>
    </div>
</section>
