<!-- Main container -->
<nav class="level">
    <!-- Left side -->
    <div class="level-left">
        <div class="level-item">
            <a [routerLink]="'/'">
                <p class="subtitle is-5">
                    <strong>Logo app</strong>
                </p>
            </a>
        </div>
    </div>

    <!-- Right side -->
     <div class="level-right">
       <p class="level-item"><a [routerLink]="'/'">Home</a></p>
       <p class="level-item"><a [routerLink]="'/create'">Create</a></p>
     </div>
</nav>
