<div class="columns is-multiline is-desktop" style="margin-top: 20px;">

    <div class="column is-2-fullhd is-3-widescreen is-4-desktop is-8-tablet is-12-mobile"
        *ngFor="let config of logosConfigsList | async">

        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    {{config.name}}
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a>
            </header>
            <div class="card-content">
                <app-logo [config]="config"></app-logo>
            </div>
            <footer class="card-footer">
                <a [routerLink]="['/logo', config.id]" class="card-footer-item">View</a>
                <a [routerLink]="['/logo', config.id]" [queryParams]="{edit: true}" class="card-footer-item">Edit</a>
            </footer>
        </div>
    </div>

</div>