.card-content {
    display: flex;
    justify-content: center;
    align-items: center; 
}

:host ::ng-deep .logo {
    background-color: #eee;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .column.is-8, .column.is-8-tablet {
        margin: 0 auto;
    }
}