:host ::ng-deep .color-picker {
    border: 0;
    border-radius: 5px;
    background: #eee;
    padding: 10px;
    display: block;
    z-index: 1;
}

:host ::ng-deep .section {
    padding: 0;
}

:host ::ng-deep .container {
    max-width: 960px;
}

.input-color {
    margin-bottom: 1.25rem;
}

.shape-name {
    text-transform: capitalize;
}