<section class="section">

  <div class="container">

    <div class="columns is-multiline">

      <form
        class="column is-12"
        [formGroup]="editForm"
      >
        <div class="columns is-multiline">

          <div class="column is-one-third">
            <div class="field">
              <div class="control">
                <label for="name" class="label">Name</label>
                <input 
                  id="name"
                  class="input" 
                  type="text"
                  placeholder="Name"
                  formControlName="name"
                >
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="slogan" class="label">Slogan</label>
                <input
                  id="slogan"
                  class="input" 
                  type="text"
                  placeholder="Slogan"
                  formControlName="slogan"
                >
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="shape" class="label">Shape</label>
                
                <div class="select" style="width:100%;"> 
                  <select 
                    id="shape" 
                    style="width:100%;"
                    formControlName="shape"
                  > 
                    <option 
                      class="shape-name"
                      [value]="shape"
                      *ngFor="let shape of shapesList"
                    >{{shape}}</option>
                  </select> 
                </div>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label for="font-family" class="label">Font Family</label>
                <div class="select" style="width:100%;"> 
                  <select 
                    id="font-family" 
                    style="width:100%;"
                    formControlName="fontFamily"
                  > 
                    <option 
                      class="shape-name"
                      [value]="font.family"
                      *ngFor="let font of fonts | async"
                    >{{font.family}}</option>
                  </select> 
                </div>
              </div>
            </div>

          </div>
          
          <div class="column is-one-third">
            <div class="field">
              <div class="control">
                <label for="shape-color" class="label">Shape Color</label>
                <input
                  id="shape-color"
                  class="input input-color"
                  [(colorPicker)]="colors.shapeColor"
                  (colorPickerChange)="setColor()"
                  [style.background]="colors.shapeColor"
                  [cpDialogDisplay]="'inline'"
                  [cpToggle]="true"
                  [cpWidth]="cpWidth"
                  [cpCmykEnabled]="false"
                  [cpAlphaChannel]="'disabled'"
                  [cpDisableInput]="true"
                />
              </div>
            </div>
            

          </div>

          <div class="column is-one-third">

            <div class="field">
              <div class="control">
                <label for="font-color" class="label">Font color</label>
                <input
                  id="font-color"
                  class="input input-color"
                  [(colorPicker)]="colors.textColor"
                  (colorPickerChange)="setColor()"
                  [style.background]="colors.textColor"
                  [cpDialogDisplay]="'inline'"
                  [cpToggle]="true"
                  [cpWidth]="cpWidth"
                  [cpCmykEnabled]="false"
                  [cpAlphaChannel]="'disabled'"
                  [cpDisableInput]="true"
                />
              </div>
            </div>

          </div>

        </div>

      </form>

    </div>

  </div>

</section>
<hr>