<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Logo app</strong> with <span class="heart">♥️</span>️ by <a href="https://github.com/nntndfrk" target="_blank">Michail
            Smolinskiy</a>.
        </p>

    </div>
</footer>
